<div style="    display: flex;
flex-direction: column;
width: 50vh;">
    <!-- <p class="text-left">Left aligned text on all viewport sizes.</p> -->
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input  (change)="fieldsChange($event)" [checked]="todo.completed"  type="checkbox" aria-label="Checkbox for following text input">
            </div>
        </div>
        <input (change)="onEditeTodo($event)" [class.line-through]="todo.completed" class="title" type="text" class="form-control" aria-label="Text input with checkbox" value="{{todo.title}}">
        <button type="button" class="btn btn-outline-danger" (click)="onDelete()">Delete</button>
    </div>
</div>
